# Clase 2 - Introducción a la programación en Python

*Por Ariel Thenon*

## Built-in Functions

Ya hemos utilizado algunas funciones como `print()`, `float()`, `type()` o `input()`. Python viene con una serie de funciones listas para utilizar, las built-in functions o funciones integradas. La lista completa de estas funciones de la versión 3.7 se puede consultar aquí: [Built-in functions doumentation](https://docs.python.org/3.7/library/functions.html). Vamos a ver algunas de esas funciones.


A continuación algunas funciones útiles para usar con colecciones

- **`len()`**

>Es una función que retorna la cantidad de elementos de una colección, como las que acabamos de ver.

- **`sum()`**

>Devuelve la suma de todos los elementos de un iterable compuesto por números. Se puede especificar el valor inicial de la suma, que por defecto es cero

- **`sorted()`**

>Permite ordenar los elementos de un iterable

- **`min()`, `max()`**

>Retornan el mínimo y el máximo de un iterable.

In [1]:
lista = [3,2,5,9,7,5,6,58,4,3]

In [2]:
len(lista)

10

In [3]:
sum(lista)

102

In [7]:
sum(lista)

102

In [8]:
sum(lista[4:], 2532.2365)

2615.2365

In [20]:
print("Hola", 356, lista, sep=" -/- ", end="-esto termina aca-")
print("python")

Hola -/- 356 -/- [3, 2, 5, 9, 7, 5, 6, 58, 4, 3]-esto termina aca-python

In [17]:
print("Linea 1\nLinea 1\n\tLinea 3")

Linea 1
Linea 1
	Linea 3

In [22]:
sorted(lista, reverse=True)

[58, 9, 7, 6, 5, 5, 4, 3, 3, 2]

In [23]:
min(lista)

2

In [24]:
max(lista)

58

In [25]:
lista2 = [3,6,54,5,2,2, "asfg", "htrht"]

In [26]:
sorted(lista2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
lista3 = ["sdhsg", "sehsrth", "knfnk", "vvrvver"]

In [28]:
sorted(lista3)

['knfnk', 'sdhsg', 'sehsrth', 'vvrvver']

También encontramos funciones para conversión de tipos o casting:

- `float()`
- `int()`
- `complex()`
- `str()`
- `bool()`
- `list()`
- `tuple()`
- `dict()`

In [29]:
num = input("ingrese un numero: ")
num = float(num)
print(type(num))

ingrese un numero: 654
<class 'float'>

In [4]:
nota = 8
print("Juan tiene nota " + str(nota))

Juan tiene nota 8

In [32]:
tupla = (6,3,1,5,56)

In [33]:
lista = list(tupla)
print(lista)

[6, 3, 1, 5, 56]

In [6]:
list("un string")

['u', 'n', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [36]:
"a" < "b", "asanj"< "oetjobe"

(True, True)

In [37]:
"a" < "Z"

False

In [40]:
ord("j"), ord("J"), ord("@")

(106, 74, 64)

In [44]:
chr(35), chr(125), chr(64)

('#', '}', '@')

In [52]:
s = ""
for i in range(200):
    s = s + chr(i)
print(s)

 
 !"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~ ¡¢£¤¥¦§¨©ª«¬­®¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇ

In [53]:
for i in range(200):
    print(chr(i), end="")

 
 !"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~ ¡¢£¤¥¦§¨©ª«¬­®¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇ

### Accediendo a la documentación

La documentación es información oficial sobre las distintas características de Python o sus librerías. Jupyter nos permite acceder muy fácil a la documentación a través del atajo `[Shift-Tab]`

## Métodos

Los métodos son funciones asociadas a un tipo de dato particular. Nos permiten realizar acciones a partir de esa estructura de datos. Hay métodos para strings, métodos para listas, etc. Para utilizar un método hay que colocar su nombre y paréntesis inmediatamente después del dato con el que queremos trabajar separado por un punto. 

Por ejemplo, las listas tienen un método llamado `append()` que permite agregar más elementos al final de la lista. Si quisieramos utilizarlo deberiamos hacerlo de la siguiente forma

```python
lista = [1,2,3,4]
lista.append(5)
print(lista)

>>>[1,2,3,4,5]
```

Algunos de los métodos que podemos mencionar son:

* Para listas:
    * `.append()`
    * `.insert()`
    * `.clear()`
    * `.copy()`
* Para strings:
    * `.capitalize()`
    * `.find()`
    * `.format()`
    * `.split()`
* Para diccionarios:
    * `.items()`
    *  `.keys()`
    * `.values()`

In [54]:
nombres = ["Juan", "Lucia", "Martín"]
nombre = input("Ingrese un nombre: ")
nombres.append(nombre)
print("La lista de nombres es", nombres)

Ingrese un nombre: Mariano
La lista de nombres es ['Juan', 'Lucia', 'Martín', 'Mariano']

In [58]:
nombres.insert(0, "Carolina")
nombres

['Carolina', 'Carolina', 'Carolina', 'Juan', 'Lucia', 'Martín', 'Mariano']

In [59]:
print(nombres)
nombres.clear()
print(nombres)

['Carolina', 'Carolina', 'Carolina', 'Juan', 'Lucia', 'Martín', 'Mariano']
[]

In [62]:
print(lista)
del lista[0]
print(lista)
del lista
print(lista)

[6, 3, 1, 5, 56]
[3, 1, 5, 56]

NameError: name 'lista' is not defined

In [64]:
lista = [3,6,5,3,5]

In [65]:
%whos

Variable   Type     Data/Info
-----------------------------
i          int      199
lista      list     n=5
lista2     list     n=8
lista3     list     n=4
nombre     str      Mariano
nombres    list     n=0
nota       int      8
num        float    654.0
<...>¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇ
tupla      tuple    n=5

In [66]:
del nota
del lista3

In [67]:
%whos

Variable   Type     Data/Info
-----------------------------
i          int      199
lista      list     n=5
lista2     list     n=8
nombre     str      Mariano
nombres    list     n=0
num        float    654.0
<...>¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇ
tupla      tuple    n=5

In [68]:
tupla

(6, 3, 1, 5, 56)

In [69]:
del tupla[2]

TypeError: 'tuple' object doesn't support item deletion

In [70]:
del tupla

In [71]:
%whos

Variable   Type     Data/Info
-----------------------------
i          int      199
lista      list     n=5
lista2     list     n=8
nombre     str      Mariano
nombres    list     n=0
num        float    654.0
<...>¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇ

In [105]:
lista = [1111, 2222, 3333, 4444, 5555]

del lista[1], lista[3]
lista

[1111, 3333, 4444]

In [106]:
lista = [1111, 2222, 3333, 4444, 5555, 6666, 7777, 8888]
del lista[2:6]
lista

[1111, 2222, 7777, 8888]

In [107]:
lista = [1111, 2222, 3333, 4444, 5555, 6666, 7777, 8888]
del lista[:4]
lista

[5555, 6666, 7777, 8888]

In [108]:
lista = [1111, 2222, 3333, 4444, 5555, 6666, 7777, 8888]
del lista[2::3]
lista

[1111, 2222, 4444, 5555, 7777, 8888]

In [72]:
len(lista)

5

In [73]:
len("alisufghlaiu")

12

In [74]:
"un string cualquiera".upper()

'UN STRING CUALQUIERA'

In [75]:
st = "Otro STRING"
st.lower()

'otro string'

In [85]:
st.title()

'Otro String'

In [86]:
"un string cualquiera".title()

'Un String Cualquiera'

### In-place vs out-of-place

Hay dos tipos de métodos: los que actúan sobre el dato y lo modifican, y los que no, llamados métodos "in-place" y "out-of-place" respectivamente. Los primeros alteran el estado del dato mientras que los segundos lo dejan intacto y retornan otro dato. Algunos métodos in-place pueden retornar otro dato además de modificar el dato sobre el que trabajan. Hay que remarcar que para los tipos de datos inmutables (como tuplas y strings) todos los métodos son out-of-place.

In [76]:
# in place modifica el objeto
lista = [6,8,9,5,30,5]
lista.append("otra cosa mas")  
lista

[6, 8, 9, 5, 30, 5, 'otra cosa mas']

In [80]:
# out of place deja el objeto intacto
print(st)
print(st.lower())
print(st)

Otro STRING
otro string
Otro STRING

In [84]:
print(st[0])
st[0] = "o"

O

TypeError: 'str' object does not support item assignment

## Estructuras de control 

Vimos que cuando ejecutamos una celda con código, Python ejecuta cada una de las instrucciones desde arriba hacia abajo. Sin embargo hay formas de modificar el flujo de ejecución de un programa: a través de las estructuras de control. Ahora vamos a hablar del condicional y los bucles while y for.

### Condicional

El condicional es una estructura que permite controlar si se ejecuta un bloque de código según el valor de una condición. Si la condición se evalúa a `True` entonces se ejecuta el bloque de código dentro del condicional, si se evalúa a `False` se omite todo el bloque de código.

El condicional se declara con la palabra reservada `if` seguida de la condición a evaluar, seguido de dos puntos `:`. Luego se colocan las instrucciones que conforman el bloque de código. Para señalar cuáles son las instrucciones que pertenecen al bloque se usa sangría (o indentación). Se puede usar tabulación o espacios, aunque la convención es utilizar cuatro espacios, que es lo que inserta Jupyter cuando apretamos `tab`.

```python
if <condición>:
    <instrucción>
    ...
    <instrucción>
```

In [93]:
edad = int(input("ingrese su edad: "))

if edad>=18:
    print("Usted es mayor de edad")
    print("esto está adentro del condicional")
    
print("esto está fuera del condicional")

ingrese su edad: 22
Usted es mayor de edad
esto está adentro del condicional
esto está fuera del condicional

#### `else`

Esta instrucción permite ejecutar un bloque de código alternativo en caso de que la condición se evalúe a `False`. La palabra reservada `else` debe colocarse inmediatamente después del primer bloque del condicional y al mismo nivel de indentación que el `if`. Luego de dos puntos puede iniciarse otro bloque de código, que también debe estar indentado.

```python
if <condición>:
    <instrucción>
    ...
    <instrucción>
else:
    <instrucción>
    ...
    <instrucción>
    ```
Esta estructura ejecuta uno y sólo uno de los bloques según el valor de la condición, por lo que se la puede considerar una bifurcación de código.

In [95]:
edad = int(input("Ingrese su edad: "))

if edad>=18:
    print("Usted es mayor de edad")
else:
    print("Usted es menor de edad")
    
print("Gracias por usar nuestros servicios")

Ingrese su edad: 12
Usted es menor de edad
Gracias por usar nuestros servicios

In [97]:
edad = int(input("Ingrese su edad: "))

if edad>=18:
    print("Usted es mayor de edad")
    if 30<=edad<=39:
        print("Además sos un treintañero")
else:
    print("Usted es menor de edad")
    
print("Gracias por usar nuestros servicios")

Ingrese su edad: 35
Usted es mayor de edad
Además sos un treintañero
Gracias por usar nuestros servicios

Pedir al ususario sus edad y decirle si está habilitado para votar y además si su voto es obligatorio o no. Se está habilitado para votar son 16 años o más y solo es obligatorio en el rango de 18 a 65

In [ ]:
edad = int(input("Ingrese su edad: "))

if edad>=16:
    if 18<=edad<=65:
        print("Habilitado para votar, voto obligatorio")
    else:
        print("Habilitado para votar, voto no obligatorio")
else:
    print("No habilitado para votar")

In [101]:
edad = int(input("ingrese su edad:" ))
if edad>=16:
    print ("Ud está habilitado para votar")
    if edad>18<65:
        print ("Su voto es obligatorio")
    else:
        print("esperamos su asistencia!")
else:
    print ("Ud, aún no está facultado para votar")

ingrese su edad:100
Ud está habilitado para votar
Su voto es obligatorio

In [100]:
edad = 90
edad>18<65   # edad>18   and   18<65

True

In [ ]:
18<edad<65   #  18<edad   and   edad<65

#### `elif`

El condicional `if` se puede combinar con la instrucción `elif` para evaluar otras condiciones si la primera condición se evalúa a `False`. De hecho se pueden chequear tantas condiciones como se quiera. Sin embargo, en esta combinación de `if` y `elif` cuando alguna condición resulta ser verdadera el resto de las condiciones y bloques de los siguientes `elif` son omitidos. Adicionalmente se puede cerrar la estructura con la sentencia `else`, teniendo así la garantía de que uno y sólo uno de los bloques va a ser ejecutado.


```python
if <condición 1>:
    <bloque 1>
elif <condición 2>:
    <bloque2>```    
    ...   
```python
elif <condición n>:
    <bloque n>
```

O bien poniendo un `else` al final:

```python
if <condición 1>:
    <bloque 1>
elif <condición 2>:
    <bloque2>```    
    ...   
```python
elif <condición n>:
    <bloque n>
else:
    <bloque final>
```

In [117]:
num = 36

if num == 1:
    print("uno")
elif 10<=num<20:
    print("rango 10 20")
elif num == 3:
    print("tres")
elif num%2==0:
    print("numero par")
else:
    print("ningun caso anterior")

numero par

In [ ]:
# misma logica pero diferente ejecucion

num = 36

if num == 1:
    print("uno")
if 10<=num<20 and not num==1:
    print("rango 10 20")
if num == 3 and not 10<=num<20 and not num==1:
    print("tres")
if num%2==0 and not num == 3 and not 10<=num<20 and not num==1:
    print("numero par")
if not num%2==0 and not num == 3 and not 10<=num<20 and not num==1:
    print("ningun caso anterior")

In [ ]:
num = 36

if num == 1:
    print("uno")
else:
    if 10<=num<20:
        print("rango 10 20")
    else:
        if num == 3:
            print("tres")
        else:
            if num%2==0:
                print("numero par")
            else:
                print("ningun caso anterior")

Pedir al ususario sus edad y decirle si está habilitado para votar y además si su voto es obligatorio o no. Se está habilitado para votar son 16 años o más y solo es obligatorio en el rango de 18 a 65

In [121]:
edad = int(input("Ingrese su edad: "))

if edad<16:
    print("No habilitado para votar")
elif 18<=edad<=65:
    print("Habilitado y obligatorio")
else:
    print("Habilitado y no obligatorio")

Ingrese su edad: 80
Habilitado y no obligatorio

### Bucle `while`

Los bucles son estructuras de control que permiten repetir un bloque de código tantas veces como sea necesario. Con el bucle `while` es posible ejecutar un bloque de código siempre que una condición sea verdadera. Cuando la condición se evalúe a `False` se sale del bucle y se continúa con el resto del programa.

```python
while <condición>:
    <instrucción1>
    ...
    <instrucción n>```

In [125]:
numero=0
while numero<10:
    print(numero)
    numero = numero + 1

0
1
2
3
4
5
6
7
8
9

In [126]:
lista = [6,3,2,7,5,4,2,6,5,3,9,1,6,5,89,7,41,2,2,2]

indice = 0
while indice<len(lista):
    print(lista[indice]**2+2)
    indice = indice + 1

38
11
6
38
27
7923
51
1683
6
6
6

In [127]:
lista = [6,3,2,7,5,4,2,6,5,3,9,1,6,5,89,7,41,2,2,2]

indice = 0
while indice<len(lista):
    if lista[indice]%2==0:
        print(lista[indice]**2+2)
    indice = indice + 1

38
6
18
6
38
38
6
6
6

### Bucle `for`

El bucle `for` trabaja con iterables. Un iterable es cualquier objeto de Python que puede recorrer sus elementos uno a uno. Por ejemplo las colecciones que vimos son iterables. Así el bucle for nos permite recorrer todos los elementos de un iterable como por ejemplo una lista. Esto lo hace creando una variable que a cada repetición del bucle le asigna un nuevo elemento del iterable hasta agotar todos los elementos. Así podemos trabajar con estos elementos de una forma inmediata en el bloque de código haciendo referencia al nombre de la variable.

```python
for <variable> in <iterable>:
    <bloque de código>
    ```

In [128]:
for elemento in lista:
    print(elemento)

6
3
2
7
5
4
2
6
5
3
9
1
6
5
89
7
41
2
2
2

In [129]:
for numero in lista:
    print(numero**2+2)

38
11
6
51
27
18
6
38
27
11
83
3
38
27
7923
51
1683
6
6
6

In [130]:
indice = 0
while indice<len(lista):
    print(lista[indice]**2+2)
    indice = indice + 1

38
11
6
51
27
18
6
38
27
11
83
3
38
27
7923
51
1683
6
6
6

In [132]:
tupla = (3,6,8,9,3,2,6)

for num in tupla:
    print(num)

3
6
8
9
3
2
6

In [133]:
for char in "Un string de prueba":
    print(char)

U
n

s
t
r
i
n
g

d
e

p
r
u
e
b
a

In [135]:
matriz = [[6,9,8,5],[3,2,6,8],[1,4,8,2]]

In [136]:
for i in matriz:
    print(i)

[6, 9, 8, 5]
[3, 2, 6, 8]
[1, 4, 8, 2]

In [137]:
for fila in matriz:
    for numero in fila:
        print(numero)

6
9
8
5
3
2
6
8
1
4
8
2

In [138]:
suma = 0
for fila in matriz:
    for numero in fila:
        suma = suma + numero
print("la suma de los numeros de la matriz es:", suma)

la suma de los numeros de la matriz es: 62

In [1]:
opcion = input("Para imprimir 'Hola' ingrese 1\nPara salir ingrese 2.")

while opcion != "2":
    if opcion== "1":
        print("Hola")
    opcion = input("Para imprimir 'Hola' ingrese 1\nPara salir ingrese 2.")

Para imprimir 'Hola' ingrese 1
Para salir ingrese 2.2

In [141]:
dicc = {"nombre": "Miguel", "edad": 25, "club": "River"}

In [150]:
for clave in dicc:
    print("clave:", clave, "- Valor:", dicc[clave])

clave: nombre - Valor: Miguel
clave: edad - Valor: 25
clave: club - Valor: River

In [153]:
conj = {9,6,8,9,4,2,32, "asdf","ojijo","KJH"}

for elemento in conj:
    print(elemento)

32
2
4
6
8
9
ojijo
KJH
asdf

In [154]:
lista = [9,6,41,8,2]
for i in lista:
    print(i)

9
6
41
8
2

### Sentencias `break` y `continue`

Estas sentencias permiten alterar la forma en la que se ejecuta el bucle. La sentencia `break` permite terminar la ejecución del bucle, salir de él y continuar con el resto del programa. La sentencia `continue`permite interrumpir la ejecución del bloque de código y pasar a la siguiente iteración del bucle.

In [155]:
while True:
    ingreso = input("Ingrese algo: ")
    if ingreso == "salir":
        break

Ingrese algo: hola
Ingrese algo: skjdf
Ingrese algo: ldgslais
Ingrese algo:
Ingrese algo:
Ingrese algo:
Ingrese algo:
Ingrese algo: safg
Ingrese algo:
Ingrese algo: salir

1 3
2 6
3 11
4 18
5 27
6 38

In [162]:
lista = [6,5,8,9,6,2,1,5,6,5,63,5,6,4]

suma = 0
for num in lista:
    suma = suma + num
    if suma>20:
        break

In [163]:
suma

28

In [164]:
lista = [6,5,8,9,6,2,1,5,6,5,63,5,6,49,6,8,5,7]

In [168]:
suma = 0
for num in lista:
    if num%2==1:
        continue
    suma = suma + num
suma

48

In [167]:
suma=0
for num in lista:
    if num%2==0:
        suma = suma + num
suma

48

### Función `range()`

Es una función incorporada que se suele usar mucho junto al bucle `for`. Esta función permite crear secuencias de números enteros. Se la puede llamar con uno, dos o tres argumentos. Llamada con un argumento `n` genera una secuencia desde cero hasta `n-1` con incrementos de a uno. Llamada con dos argumentos `n1` y `n2`, una secuencia desde `n1` hasta `n2-1` con el mismo incremento. Y si se utiliza un tercer argumento, éste representa el incremento entre cada número de la secuencia.

Podemos usar esta función en combinación con el bucle `for` para repetir cierto código una determinada cantidad de veces.

```python
for i in range(4):
    print("Python")

>>>Python
>>>Python
>>>Python
>>>Python```

In [169]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [170]:
for i in range(5,12):
    print(i)

5
6
7
8
9
10
11

In [171]:
for i in range(7,29,3):
    print(i)

7
10
13
16
19
22
25
28

In [172]:
for i in range(10):
    print("Esto lo imprimo 10 veces")

Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces
Esto lo imprimo 10 veces

In [161]:
lista=[1,2,3,4,5,6]

for j in lista:
    print(j, end=" ")
    print(pow(j, 2) + 2)

1 3
2 6
3 11
4 18
5 27
6 38